@import "~styles/material-theme";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-title {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

div.btnAvatar {
  margin: 0 auto;
  width: 16%;
  margin-bottom: 20px;

  .mat-button {
    margin-bottom: 10px;
  }

  img {
    margin-left: 1.5rem;
  }
}

.form-field {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  color: mat-color($mat-green, 500);
}

mat-radio-group {
  display: flex;
  justify-content: center;

  mat-radio-button {
    margin-right: 20px;
  }
}

.ratingStart {
  margin-top: 20px !important;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.btnCreat {
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
}

.error {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  color: lightcoral;
}
