<form *ngIf="userInfoForm" [formGroup]="userInfoForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>{{'USER.EDIT' | translate }}</mat-card-title>
    <mat-card-content>
      <div class="btnAvatar">
        <input accept="image/*" hidden type="file" #imgFileInput (change)="changeListener($event)"/>
        <input formControlName="avatar" hidden/>
        <img [src]="userInfoForm.get('avatar').value" height="100"> <br/>
        <button type="button" mat-raised-button [disabled]="!canEdit"
                (click)="imgFileInput.click()">{{'ADMIN.REGISTER.AVATAR' | translate }}</button>
      </div>

      <mat-radio-group formControlName="role">
        <mat-radio-button value="Therapist">{{'ADMIN.THERAPIST' | translate }}</mat-radio-button>
        <mat-radio-button value="Helper">{{'ADMIN.HELPER' | translate }}</mat-radio-button>
        <mat-radio-button value="Patient">{{'ADMIN.PATIENT' | translate }}</mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
        <input matInput formControlName="first_name" placeholder="{{'USER.FIRST_NAME' | translate }}">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="last_name" placeholder="{{'USER.LAST_NAME' | translate }}">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="email" placeholder="{{'USER.EMAIL' | translate }}" [readonly]="true">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="password" placeholder="{{'AUTH.PASSWORD' | translate }}"
               [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="confirmPassword" placeholder="{{'AUTH.CONFIRM_PASSWORD' | translate }}"
               [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <app-error></app-error>
      <div class="form-field">{{msg}}</div>
      <button mat-button color="primary" class="btnCreat"
              [disabled]="!userInfoForm.valid || !canEdit">{{'COMMON.SUBMIT' | translate }}</button>
      <button mat-button color="warn" class="btnDisable"
              *ngIf="canEdit && !ownUser"
              (click)="toggleActive(); $event.preventDefault();">{{(userInfoForm.get('disabled').value ? 'ADMIN.USER.RE_ENABLE' : 'ADMIN.USER.DISABLE') | translate }}</button>
    </mat-card-content>
  </mat-card>
</form>
