<form *ngIf="settingForm" [formGroup]="settingForm" (ngSubmit)="onSubmit(settingForm.value)">
  <mat-card>
    <mat-card-title>{{'ADMIN.SETTING.TITLE' | translate }}</mat-card-title>
    <mat-card-content>
      <mat-list role="list" formArrayName="settings">
        <mat-list-item role="listitem" *ngFor="let field of formData.controls; let ind = index;" [formGroupName]="ind">
          <mat-slide-toggle color="primary" formControlName="value">
            {{ 'SETTING.' + field.value.id | translate}}
          </mat-slide-toggle>
        </mat-list-item>
      </mat-list>
      <app-error></app-error>
      <button mat-raised-button color="primary" class="btnCreat">{{'COMMON.SUBMIT' | translate }}</button>
    </mat-card-content>
  </mat-card>
</form>
