:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 700px;
}

mat-card-title {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.btnCreat {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 30%;
}
