@import "~styles/inspector-theme";
@import "~styles/mixins";

ul {
  padding: 0 0 0 2rem;
  margin: 0;
  display: flex;

  li {
    list-style: none;
    margin-right: 1rem;

    a {
      padding: .6rem 1.2rem;
      border-radius: 25rem;
      font-size: .9rem;
      color: #fff;
      font-weight: 400;
      text-decoration: none;
      @include transition(background-color .2s);

      &.highlighted, &:hover {
        background: $ob-header-darken;
      }
    }
  }
}
