<ul *ngIf="items && items.length">
  <li *ngFor="let item of items; last as isLast">
    <a [routerLink]="[item.link]" [innerHTML]="item.label"></a>
    <i class="material-icons" *ngIf="!isLast && item.label">keyboard_arrow_right</i>
  </li>
</ul>
