@import "~styles/mixins";
@import "~styles/material-theme";

ul {
  margin-top: 0 !important;
  background: #448AFF;
  padding: .5rem .5rem .5rem 1rem;
  align-items: baseline;
  display: flex;
  font-size: 1.2em;
  list-style: none;

  li {
    display: inline-flex;

    a {
      color: map-get($mat-grey, 50);
      font-size: .8rem;

      ::ng-deep i {
        vertical-align: sub;
      }

      &:hover {
        color: mat-color($mat-blue, 100);
      }
    }

    & > i {
      font-size: 0.9em;
      vertical-align: middle;
      color: map-get($mat-grey, 400);
    }
  }
}
