@import "~styles/material-theme";

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.light {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  &.high {
    background-color: map-get($mat-red, 500);
  }

  &.medium {
    background-color: map-get($mat-orange, 500);
  }

  &.low {
    background-color: map-get($mat-green, 500);
  }
}

.ellipsis {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ws-preline {
  white-space: pre-line;
}
