@font-face {
  font-family: 'Helvetica Neue';
  src: url('#{$project-font-path}/helvetica-neue-medium/HelveticaNeue-Medium.eot');
  src: url('#{$project-font-path}/helvetica-neue-medium/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$project-font-path}/helvetica-neue-medium/HelveticaNeue-Medium.woff2') format('woff2'),
  url('#{$project-font-path}/helvetica-neue-medium/HelveticaNeue-Medium.woff') format('woff'),
  url('#{$project-font-path}/helvetica-neue-medium/HelveticaNeue-Medium.ttf') format('truetype'),
  url('#{$project-font-path}/helvetica-neue-medium/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

// ROBOTO
@font-face {
  font-family: 'Roboto';
  src: url('#{$project-font-path}/roboto/roboto-black-webfont.woff2') format('woff2'),
  url('#{$project-font-path}/roboto/roboto-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$project-font-path}/roboto/roboto-bold-webfont.woff2') format('woff2'),
  url('#{$project-font-path}/roboto/roboto-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$project-font-path}/roboto/roboto-medium-webfont.woff2') format('woff2'),
  url('#{$project-font-path}/roboto/roboto-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$project-font-path}/roboto/roboto-regular-webfont.woff2') format('woff2'),
  url('#{$project-font-path}/roboto/roboto-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$project-font-path}/roboto/roboto-light-webfont.woff2') format('woff2'),
  url('#{$project-font-path}/roboto/roboto-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$project-font-path}/roboto/roboto-thin-webfont.woff2') format('woff2'),
  url('#{$project-font-path}/roboto/oboto-thin-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}





