@import "~styles/material-theme";

html {
  body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

    *:focus {
      outline: none;
    }

    a {
      text-decoration: none;
    }

    .subtitle {
      // color: map-get($app-accent, 200);
      color: mat-color($mat-blue, A200);
      font-size: .8rem;
      font-weight: bold;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    &.fixed {
      app-header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 102;
      }

      mat-sidenav-container {
        margin-top: 64px;
      }
    }

    .mat-list .mat-list-item.left .mat-list-item-content {
      justify-content: space-between;
    }

    mat-row.clickable.mat-row {
      cursor: pointer;
    }

    .small-column {
      min-width: 50px;
      flex: 0 0 50px;
    }

    .large-column {
      min-width: 450px;
      flex: 0 0 450px;
    }
  }
}
