@import '~@angular/material/theming';

@include mat-core();
$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-blue-grey);
$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);
