:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-title {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

div.btnAvatar {
  margin: 0 auto;
  width: 25%;
  margin-bottom: 20px;

  .mat-button {
    margin-bottom: 10px;
  }

  img {
    margin-left: 1.5rem;
  }
}

mat-radio-group {
  display: flex;
  justify-content: center;

  mat-radio-button {
    margin-right: 20px;
  }
}

mat-form-field {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.btnCreat {
  margin: 0 auto;
  width: 100%;
}
