<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <mat-card>
    <mat-card-title>{{'ADMIN.REGISTER.TITLE' | translate }}</mat-card-title>
    <mat-card-content>
      <div class="btnAvatar">
        <button type="button" mat-button mat-raised-button
                (click)="imgFileInput.click()">{{'ADMIN.REGISTER.AVATAR' | translate }}</button>
        <input accept="image/*" hidden type="file" #imgFileInput (change)="changeListener($event)"/>
        <input formControlName="avatar" hidden/>
        <img [src]="registerForm.get('avatar').value" height="100"> <br/>
      </div>

      <mat-radio-group formControlName="role">
        <mat-radio-button value="Therapist">{{'ADMIN.THERAPIST' | translate }}</mat-radio-button>
        <mat-radio-button value="Helper" checked>{{'ADMIN.HELPER' | translate }}</mat-radio-button>
        <mat-radio-button value="Patient">{{'ADMIN.PATIENT' | translate }}</mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
        <input matInput formControlName="first_name" placeholder="{{'USER.FIRST_NAME' | translate }}">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="last_name" placeholder="{{'USER.LAST_NAME' | translate }}">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="email" placeholder="{{'USER.EMAIL' | translate }}">
      </mat-form-field>

      <mat-form-field>
        <input matInput type='password' formControlName="password" placeholder="{{'USER.PASSWORD' | translate }}">
      </mat-form-field>

      <mat-form-field>
        <input matInput type='password' formControlName="confirm_password" placeholder="{{'USER.CONFIRM_PASSWORD' | translate }}">
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" formControlName="birth_date"
               placeholder="{{'USER.BIRTH_DATE' | translate }}"/>
               <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <app-error></app-error>
      <button mat-button color="primary" class="btnCreat"
              [disabled]="!registerForm.valid">{{'ADMIN.REGISTER.NEW' | translate }}</button>
    </mat-card-content>
  </mat-card>
</form>
