<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

  <mat-card>
    <mat-card-title>{{'AUTH.SIGNUP.TITLE' | translate }}</mat-card-title>
    <mat-card-content>
      <!--
      <div class="btnAvatar">
          <button type="button" mat-button mat-raised-button (click)="imgFileInput.click()">{{'AUTH.SIGNUP.AVATAR'
              | translate }}</button>
          <input accept="image/*" hidden type="file" #imgFileInput (change)="changeListener($event)" />
          <input formControlName="avatar" hidden />
          <img [src]="signupForm.get('avatar').value" height="100"> <br />
      </div>
      -->
      <mat-radio-group formControlName="role">
        <mat-radio-button value="patient">{{'AUTH.SIGNUP.PATIENT' | translate }}</mat-radio-button>
        <mat-radio-button value="helper">{{'AUTH.SIGNUP.HELPER' | translate }}</mat-radio-button>
        <mat-radio-button value="therapist">{{'AUTH.SIGNUP.THERAPIST' | translate }}</mat-radio-button>
        <mat-radio-button value="admin">{{'AUTH.SIGNUP.ADMIN' | translate }}</mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
        <input matInput formControlName="first_name" placeholder="{{'USER.FIRST_NAME' | translate }}">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="last_name" placeholder="{{'USER.LAST_NAME' | translate }}">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="email" placeholder="{{'USER.EMAIL' | translate }}">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="password" placeholder="{{'USER.PASSWORD' | translate }}"
               [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="confirm_password" placeholder="{{'USER.CONFIRM_PASSWORD' | translate }}"
               [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" formControlName="birth_date"
               placeholder="{{'USER.BIRTH_DATE' | translate }}"/>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <app-error></app-error>
      <button mat-button color="primary" class="btnCreat" [disabled]="!signupForm.valid">{{'AUTH.SIGNUP.NEW' |
        translate }}</button>
    </mat-card-content>
  </mat-card>
</form>
