@import "~styles/material-theme";

mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    ul {
      padding: 50px 0 0 0;

      li {
        list-style: none;
        padding: 10px;

        a {
          color: map-get($app-primary, darker);
          text-decoration: none;
        }
      }
    }
  }

  mat-sidenav-content {
    padding: 0;
    padding-bottom: 2rem;
    overflow-x: hidden;
    position: relative;
    background: map-get($mat-grey, 100);
  }
}


