<form [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-card>
    <mat-card-title>{{'AUTH.RESET_PASSWORD' | translate}}</mat-card-title>
    <mat-card-content>
      <mat-form-field class="form-field">
        <input matInput [placeholder]="'AUTH.EMAIL' | translate" formControlName="email">
      </mat-form-field>
      <app-error></app-error>
      <div class="form-field">{{ msg }}</div>
      <div class="buttons" *ngIf="!submitted">
        <button mat-raised-button color="primary" type="submit">
          {{ 'COMMON.RESET_PASSWORD' | translate }}
        </button>
      </div>
      <div class="buttons" *ngIf="submitted">
        <button mat-raised-button color="accent" [routerLink]="['../']">
          {{ 'COMMON.BACK' | translate }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
