@import "~styles/material-theme";
@import "~styles/mixins";

table {
  width: 100%;
}

h2 {
  margin-left: 20px;
}

div.btn-add {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20px 0px 20px;
}
