<h2>{{'ADMIN.USER.TITLE' | translate }}</h2>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="first_name">
    <mat-header-cell *matHeaderCellDef>{{'USER.FIRST_NAME' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.first_name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="last_name">
    <mat-header-cell *matHeaderCellDef>{{'USER.LAST_NAME' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.last_name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>{{'USER.EMAIL' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef>{{'USER.ROLE' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.role}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="disabled">
    <mat-header-cell *matHeaderCellDef>{{'USER.DISABLED' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let element"><span *ngIf="element.disabled">✓</span></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editUser(row)" class="clickable"></mat-row>
</mat-table>

<app-error></app-error>

<div class="btn-add">
  <button mat-raised-button routerLink="new">{{'ADMIN.USER.ADD' | translate }}</button>
</div>
