@import "~styles/material-theme";

div.errors {
  background: mat-color($mat-red, 50);
  border-radius: 5px;
  color: mat-color($mat-red, 500);
  margin: 10px 0;
  padding: 10px;
  white-space: pre-line;
}
