<mat-toolbar>
  <img class="logo" src="/assets/images/logo-inspector-white.svg" [routerLink]="['/']">
  <div class="title"> - {{appVersion}}</div>
  <app-sidenav></app-sidenav>
  <div class="user" *ngIf="loggedInUser">
    <button mat-button color="primary" [routerLink]="['user']">
      <span>{{loggedInUser.first_name}}</span>
      <img [src]="loggedInUser.avatar">
    </button>
    <button mat-icon-button color="accent" (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </div>
</mat-toolbar>
