@import "~styles/inspector-theme";
@import "~styles/mixins";

mat-toolbar {
  background-color: $ob-header;
  color: #fff;
  position: relative;

  div.title {
    padding: 0 10px;
    font-size: .8rem;
    color: $ob-header-lighten;
  }

  img.logo {
    cursor: pointer;
    height: 33px;
  }

  div.user {
    position: absolute;
    right: 10px;

    img {
      padding-left: 5px;
      vertical-align: middle;
      height: 30px;
      @include border-radius(50%);
    }

    span {
      padding: 0 .4rem;
      vertical-align: middle;
      font-size: .9rem;
    }

    i {
      vertical-align: middle;
      font-size: 1.5rem;
      padding: .5rem;
      border-radius: 50%;
      background: $ob-header-darken;
    }
  }
}


