:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

mat-form-field {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
}

.forgetPassword {
  display: flex;
  justify-content: flex-end;
}

.createNewUser {
  display: flex;
  justify-content: flex-end;
}
