<form [formGroup]="authForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-card>
    <mat-card-title>{{'AUTH.TITLE' | translate}}</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput [placeholder]="'AUTH.EMAIL' | translate" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'AUTH.PASSWORD' | translate" type="password" formControlName="password">
      </mat-form-field>
      <div class="forgetPassword" *ngIf="internUserManagment">
        <a routerLink="/resetpassword" routerLinkActive="active" mat-button color="primary">
          {{ 'COMMON.FORGET_PASSWORD' | translate }}
        </a>
      </div>
      <div class="createNewUser" *ngIf="internUserManagment">
        <a routerLink="/signup" routerLinkActive="active" mat-button color="primary">
          {{ 'COMMON.CREATE_NEW_USER' | translate }}
        </a>
      </div>
      <app-error></app-error>
      <div class="buttons">
        <button mat-raised-button color="primary" type="submit">
          {{ 'COMMON.SUBMIT' | translate }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
